body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#map {
    height: 100vh;
    width: 100%;
    position: relative;
}

#sidebar {
    z-index: 1050;
    width: 400px;
    height: 100%;
    right: -400px;
    top: 0;
    transition: right 0.3s;
}

#toggleSidebar {
    top: 0;
    right: 0;
    z-index: 1050;
}


/* From Uiverse.io by talhabangyal (adapted) */
.hamburger {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1051;
    border-radius: 5px;
}


.hamburger button {
    all: unset;
    /* Reset button styles */
    position: absolute;
    inset: 0;
}

.hamburger svg {
    /* The size of the SVG defines the overall size */
    height: 3em;
    /* Define the transition for transforming the SVG */
    transition: transform 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line {
    fill: none;
    stroke: black;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 3;
    /* Define the transition for transforming the Stroke */
    transition:
        stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),
        stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1);
}

.line-top-bottom {
    stroke-dasharray: 12 63;
}

.hamburger.active svg {
    transform: rotate(-45deg);
}

.hamburger.active .line-top-bottom {
    stroke-dasharray: 20 300;
    stroke-dashoffset: -32.42;
}

.github-btn{
    position:absolute;
    left:20px;
    bottom:20px;
    height:30px;
    width:30px;
    display:flex;
    justify-content:center;
    align-items:center;
    z-index:1051;
}